@import "tailwindcss";

@layer utilities {
  .bg-custom-green {
    background-color: #40916c;
  }

  .text-custom-green {
    color: #40916c;
  }

  .border-custom-green {
    border-color: #40916c;
  }

  .text-custom-gray {
    color: #4f4f4f;
  }
}

button {
  @apply cursor-pointer transition ease-in-out duration-200 hover:scale-110;
}

.whatWeOfferBox {
  @apply w-80 flex flex-row items-start gap-6;
}

.whatWeOfferText {
  @apply flex flex-col items-start gap-2;
}

.whatWeOfferText h2 {
  @apply text-2xl font-bold;
}
