@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

/* auth screens */
.inputLabelGroup {
	@apply flex flex-col gap-1;
}

.inputLabel {
	@apply font-semibold mb-2 capitalize;
}

.hideAlertModal {
	@apply -translate-y-96;
}

.hidePasswordError {
	@apply scale-0;
}

/* animations */
.isPaid {
	@apply translate-x-8;
}

.isNotPaid {
	@apply translate-x-0;
}

.hideIncomeModal {
	@apply hidden;
}

/* sidebar */
.sidebarRow {
	@apply flex flex-row items-center gap-2 capitalize cursor-pointer;
}

.sidebarIndicator {
	@apply p-0.5 h-8 bg-slate-200;
}
.sidebarIndicatorActive {
	@apply p-0.5 h-8 bg-[#2D6A4F];
}

/* dashboard */
.dashboardScreen {
	@apply w-full py-6 px-12 bg-slate-50 min-h-screen mt-20;
}

.dashboardHeading {
	@apply text-[#2D6A4F] text-3xl font-bold capitalize mb-4;
}
